html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5
}

body {
  font-family: 'Roboto', sans-serif;
  }

.diploma {  
  display: flex;
  flex-wrap: wrap;
  justify-context: center;
  margin-top: 20px;
}

.diploma-item {
  border: 5px solid #000000;
  margin: 20px;
}

.discription {
  display: flex;
  flex-wrap: wrap;
  justify-context: center;
  margin-top: 20px;
}

.discription-item {
  border: 5px solid #000000;
  margin: 20px;
}
